<div id="login" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

    <div class="row">
        <div class="col">
            <h1><b>Janus</b></h1>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {msg:country}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" 
                        href="{janus:property('janus.http.root-path')}/locale?code=sv-SE&return=login"
                        up-follow up-target="#login">{msg:country_sweden}</a></li>
                    <li><a class="dropdown-item"
                        href="{janus:property('janus.http.root-path')}/locale?code=en-US&return=login"
                        up-follow up-target="#login">{msg:country_usa}</a></li>
                    <li><a class="dropdown-item"
                        href="{janus:property('janus.http.root-path')}/locale?code=en-GB&return=login"
                        up-follow up-target="#login">{msg:country_united_kingdom}</a></li>
                </ul>
            </div>
        </div>
    </div>

    {#form workarea.form}

        {#text_input workarea.username/}

        {#password_input workarea.password/}

        {#button_submit workarea.login/}

    {/form}

</div>
{#form_validate/}