<div id="login" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

    <div class="row">
        <div class="col">
            <h1><b>Janus</b></h1>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {msg:country}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" 
                        href="{janus:property('janus.http.root-path')}/locale?code=sv-SE&return=login"
                        up-follow up-target="#login">{msg:country_sweden}</a></li>
                    <li><a class="dropdown-item"
                        href="{janus:property('janus.http.root-path')}/locale?code=en-US&return=login"
                        up-follow up-target="#login">{msg:country_usa}</a></li>
                    <li><a class="dropdown-item"
                        href="{janus:property('janus.http.root-path')}/locale?code=en-GB&return=login"
                        up-follow up-target="#login">{msg:country_united_kingdom}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <form class="needs-validation" novalidate action="{janus:property('janus.http.root-path')}/j_security_check" method="post">

        {#text_input "" label=msg:login_enter_username name="user" value="" id="user" extra="required" validate=true}
            {msg:login_username_required}
        {/text_input}

        {#password_input "" label=msg:login_enter_password name="password" value="" id="password" extra="required" validate=true}
            {msg:login_password_required}
        {/password_input}

        {#button_submit label=msg:login_login extra=""/}

    </form>
</div>
{#form_validate/}