<nav id="navbar-top" class="navbar navbar-expand-md navbar-light fixed-top bg-light" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{janus:property('janus.http.root-path')}/logo.svg" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {#if base.admin}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown">
              {msg:menu_administration}
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/user/list">{msg:menu_administration_users}</a></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/team/list">{msg:menu_administration_teams}</a></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/product/list">{msg:menu_administration_products}</a></li>
            </ul>
          </li>
        {/if}
        <li class="nav-item">
          <a class="nav-link" href="{janus:property('janus.http.root-path')}/logout">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>