<nav id="navbar-top" class="navbar navbar-expand-md navbar-light fixed-top bg-light" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{janus:property('janus.http.root-path')}/logo.svg" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        {#if base.productRole or base.adminRole}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown">
              {msg:menu_product}
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="#">{msg:menu_product_select}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/product/list">{msg:menu_product_products}</a></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/productversion/list">{msg:menu_product_productversions}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">{msg:menu_product_needs}</a></li>
              <li><a class="dropdown-item" href="#">{msg:menu_product_requirements}</a></li>
            </ul>
          </li>
        {/if}
        {#if base.adminRole}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown">
              {msg:menu_administration}
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/team/list">{msg:menu_administration_teams}</a></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/user/list">{msg:menu_administration_users}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/product/list">{msg:menu_administration_products}</a></li>
              <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/productversion/list">{msg:menu_administration_productversions}</a></li>
            </ul>
          </li>
        {/if}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown">
            {base.username}
          </a>
          <ul class="dropdown-menu dropdown-menu-light">
            <li><a class="dropdown-item" href="{janus:property('janus.http.root-path')}/logout">{msg:menu_logout}</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text pe-3">
          <span class="fw-bold">Product:</span> SMP
      </span>
      <span class="navbar-text pe-3">
        <span class="fw-bold">Team:</span> Fragglarna
    </span>
    </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>