{#workarea}
    <div>
        <div class="row">
            <div class="col">
                <h1>{usermsg:list_administration}</h1>
            </div>
            <div class="col d-flex align-items-center justify-content-end">
                <a class="btn btn-primary" href="{workarea.createPageURL()}" up-follow up-history="true" up-target="#workarea" role="button">{usermsg:list_add}</a>
            </div>            
        </div>

        <div class="row">
            <div class="col">
                {usermsg:list_showing_max(workarea.max)}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{usermsg:list_name}</th>
                            <th>{usermsg:list_username}</th>
                            <th>{usermsg:list_email}</th>
                            <th>{usermsg:list_roles}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {#for user in workarea.users}
                        <tr>
                            <td>{workarea.calculateTrueIndex(user_count)}</td>
                            <td>{user.name}</td>
                            <td>{user.username}</td>
                            <td>{user.email}</td>
                            <td>
                                {#for role in user.roles}
                                    {role.longName}<br />
                                {/for}
                            </td>
                            <td>
                                <div class="col d-flex align-items-center justify-content-start">
                                    <a class="btn btn-primary" href="{workarea.userPageURL(user.id)}" up-follow up-history="true" up-target="#workarea">{usermsg:list_edit}</a>
                                </div>
                            </td>
                        </tr>
                        {/for}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {usermsg:list_showing_users(workarea.calculateListStart(), workarea.calculateListEnd(),
                workarea.total)}
                <br />
                {usermsg:list_showing_pages(workarea.calculateCurrentPage(), workarea.calculatePages())}
            </div>
            <div class="col d-flex align-items-center justify-content-end pt-4">
                <ul class="pagination">
                    {#if workarea.isFirstPage()}
                        <li class="page-item disabled"><a class="page-link" href="#">{usermsg:list_previous}</a></li>
                    {#else}
                        <li class="page-item"><a class="page-link" href="{workarea.previousPageURL()}" up-history="true" up-follow up-target="#workarea">{usermsg:list_previous}</a></li>
                    {/if}
                    {#for i in workarea.calculatePages()}
                        {#if i != workarea.calculateCurrentPage()}
                            <li class="page-item"><a class="page-link" href="{workarea.pageURL(i)}" up-history="true" up-follow up-target="#workarea">{i}</a></li>
                        {#else}
                            <li class="page-item disabled"><a class="page-link" href="#">{i}</a></li>
                        {/if}
                    {/for}
                    {#if workarea.isLastPage()}
                        <li class="page-item disabled"><a class="page-link" href="#">{usermsg:list_next}</a></li>
                    {#else}
                        <li class="page-item"><a class="page-link" href="{workarea.nextPageURL()}" up-history="true" up-follow up-target="#workarea">{usermsg:list_next}</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
{/workarea}
