{#workarea title=usermsg:user_administration}
    <div>
        <div class="row">
            {#if workarea.newUser}
                {#form_start action=workarea.createURL()/}
            {#else} 
                {#form_start action=workarea.updateURL()/}
            {/if}

            <div class="row">
                <div class="col">
                    {#text_input workarea.name/}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {#text_input workarea.username/}
                </div>
                <div class="col">
                    {#text_input workarea.uuid/}
                </div>
            </div>


            <div class="row">
                <div class="col">
                    {#text_input workarea.email/}
                </div>
                <div class="col">
                    {#password_input workarea.password/} 
                </div>
            </div>

            <div class="row">
                <div class="col mb-1">
                    {usermsg:user_roles}
                </div>
            </div>

            <div class="mb-3">
                    {#for role in workarea.roles}
                        {#if workarea.user.hasRole(role.name)}
                            {#checkbox_inline_input role.id label=role.longName name="roles" id=role.id extra="checked"/}
                        {#else}
                            {#checkbox_inline_input role.id label=role.longName name="roles" id=role.id extra=""/}
                        {/if}
                    {/for}
            </div>

            <div class="text-start pt-4">
                {#button_submit workarea.saveButton/}
                {#if !workarea.newUser}
                    {#button_submit workarea.deleteButton/}
                {/if}
                {#button_link workarea.cancelButton/}
            </div>

        {#form_end/}
    </div>
</div>
{/workarea}
{#form_validate/}
