<div id="workarea" class="container mt-3">
    <h1>User management</h1>
    <div>
        <div class="row">
            <form action="{janus:property('janus.http.root-path')}/user/user" method="post">

                <input type="hidden" id="uuid" name="uuid" value="{workarea.user.id}">

                <div class="form-outline mb-4">
                    <label class="form-label" for="user">Username</label>
                    <input type="text" name="user" id="user" value="{workarea.user.username}" class="form-control form-control-lg"/>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" name="name" id="name" value="{workarea.user.name}" class="form-control form-control-lg"/>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="role">Roles</label>
                    <select class="form-select" id="role" multiple >
                        {#for role in workarea.roles}
                            {#if workarea.user.hasRole(role.name)}
                                <option selected id="{role.name}">{role.longName}</option>
                            {#else}
                                <option id="{role.name}">{role.longName}</option>
                            {/if}
                        {/for}
                    </select>                    
                </div>
                
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
